.class_2e44e175 { background-color: #000000; color: #f0f0f0; }
.class_871e537d { height: 30px; }
.class_1f0f3174 { color: #5000e6; }
.class_6daf4195 { color: rgb(80, 0, 230); }
.class_7f9f8387 { color: rgb(255, 255, 255); }
.class_33e85a31 { color: #ffffff; }
.class_5e42c436 { color: #f0f0f0; }
.class_d110e563 { background-color: #111111; color: #f0f0f0; }
.class_36465126 { color: #ff7777; }
.class_e19ce1e9 { color: hsl(0, 100%, 69%); }
.class_224b51a7 { display: none; }
.class_0cd87603 { background-color: #111111; color: #1a1a1a; }
.class_de169ea4 { padding-right: 5px; padding-left: 5px; }
.class_d8c72aa7 { color: #ff8282; }
.class_f95a95f4 { max-width: 200px; border-radius: 50%; }
.class_02edaee1 { color: rgb(255, 100, 100); }
.class_b7359eeb { color: rgb(255, 59, 59); }
.class_2579959f { margin-bottom: 2rem; }
.class_65968046 { background-color: #222222; color: #f0f0f0; padding: 1rem; margin-bottom: 1rem; }
.class_274d8384 { color: #ff3e3e; }
.class_9008283e { background-color: #222222; padding: 1rem; min-height: 300px; }
.class_f4e7b5e8 { color: #f0f0f0; font-weight: bold; }
.class_2a718beb { background-color: #222; padding: 1.5rem; border-radius: 0.5rem; margin-bottom: 2rem; }
.class_840a62a9 { color: #f5c518; }
.class_4671278d { color: #888; }
.class_b253477f { margin-top: 2rem; color: #888; }
.class_bb253967 { list-style-type: none; padding-left: 0; }